.DS_Store
.vscode/

__pycache__/
*.egg-info/

nlohmann/
build/
*.pyd

test_set.csv
logging-output*/
wtd_inputs/
output/

tmp_*/
*.mp4
*.wav
*.gif
/mmdemo/features/objects/objectDetectionModels/best_model-object.pth
/mmdemo/features/friction/wandb/
*.pddl
/demo/featureModules/objects/objectDetectionModels/best_model-objects.pth
/.vs/*
/mmdemo/utils/cliff_utils/data/*
/mmdemo/utils/cliff_utils/mmdetection/*
/mmdemo/utils/cliff_utils/mmtracking/checkpoints/bytetrack_yolox_x_crowdhuman_mot17-private-half_20211218_205500-1985c9f0.pth
